
.new-page{
    ion-content{
        background-color: #fad666;
        font-style: 'Microsoft YaHei';
        img.index_pic{
            width: 100%;
            margin-top: 10%;
        }
        div.click{
            z-index: 3;
            width: 50%;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            height: 10%;
            top: 60%;
        }

        .cont{
            width: 100%;
            margin: auto 0%;
            background-color: #fff;
            border-radius: .4rem;
            padding: 4%;
            position: relative;
            img.tit{
                width: 80%;
                margin: 2% auto;
                display: block;
            }
            .useless{
                margin-bottom: 3rem;
            }
            .pic{
                margin: 1rem 0;
            }
            .checkbox{
                width: 1.8rem;
                height: 1.8rem;
                margin: 0px .6rem 0 0;
                display: inline-block;
                border-radius: 50%;
                border: lightblue 1px solid;
                vertical-align: middle;
                text-align: center;
                line-height: 1.8rem;
            /*    background-color: #fad666;*/
                color: #333;
                position: relative;
            }
            .checkbox .checked{
                background-color: #5bc8ff;
                color: #fff;
                width: 100%;
                height: 100%;
                top: 0;
                position: absolute;
                border-radius: 50%;
                display: none;
                z-index: 2
            }
            .option{
                display: inline-block;
                margin-bottom: 1rem;
            }
            button.next_question{
                margin: 0 auto;
                border: none;
                background-color: #ec5b5d;
                color: #fff;
                height: 3rem;
                padding: 0 1.1rem 0 1.5rem;
                border-radius: 1.5rem;
                font-size: 1.2rem;
                font-family: inherit;
                letter-spacing: .4rem;
                // display: none;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, -50%);
            }
        }
    }
}